@use 'proxima' as *;

/*------------------------------*\
# VARIABLES
\*------------------------------*/
$container-width: 1366px;
$base-padding: 20px;
$white: #F6F8FF;
$black: #010C13;
$accent-pink: #c022c5;
$accent-blue: #00BBCC;
$accent-yellow: #E0DD00;




/*------------------------------*\
# MIXINS
\*------------------------------*/
@mixin inner() {
  width: 100%;
  max-width: $container-width;
  margin-inline: auto;
}





/*------------------------------*\
# HEADER
\*------------------------------*/




/*------------------------------*\
# MAIN
\*------------------------------*/
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// GENERAL
body {
  background-color: $black;
  font-family: monospace;
}

section {
	padding-inline: $base-padding;
}

.heading {
  text-transform: uppercase;
  color: $white;
  font-size: 36px;
}

.subheading {
  color: $white;
  font-size: 24px;
}

.copy {
  color: $white;
}

.grid {
	display: grid;
}

.grid-2 {
	grid-template-columns: 1fr;
	gap: $base-padding;

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}
}



// about
.about {
	&__inner {
		@include inner;
	}
}


// hero 
.hero {
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1519608487953-e999c86e7455?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  position: relative;
  padding-top: 200px;

  &:before {
    position: absolute;
    content: '';
    inset: 0;
    background: linear-gradient(to right, $black 20%, rgba($black, 0.3) 100%);
		
  }

  &__inner {
    @include inner;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__heading {
    text-transform: uppercase;
    color: $white;
    font-size: 72px;
  }

  &__copy {
    color: $white;
    font-size: 24px;
  }
}



// lines
.lines {
  span {
    display: block;
    color: white;
  }
}

.p-underline-1,
.p-underline-2,
.p-underline-3,
.p-underline-4,
.p-underline-5 {
  @include underline-color($accent-pink, 3.5);
}




// buttons
.buttons {
  a, button {
    width: 200px;
    height: 50px;
    color: white;

    @include button-bg($accent-pink, $accent-blue);
  }
}




// boxes
.boxes {
  .p-box-1, .p-box-3, .p-box-2, .p-box-4, .p-box-5 {
    @include box-border($accent-pink);

    margin-bottom: 25px;
    padding: 25px;
    color: $white;
  }
}




// cutouts
.cutouts {
  .p-cutout-1, .p-cutout-3, .p-cutout-2, .p-cutout-4, .p-cutout-5 {
    margin-bottom: 25px;
    padding: 25px;
    color: $white;
    background-color: $accent-pink;
  }
}





// text
.text {
  span {
    display: block;
    color: $white;
  }
}

.p-hypertext {
  @include hypertext(rgba(0,247,243,0.75), rgba(173,247,0,0.75), rgba(247,0,227,0.75));
  font-size: 72px;
  color: $white;
}


// trims
.trims {
  &__inner {
    padding: $base-padding;
  }

  &__fake-footer {
    padding: 30px;
    background-color: $accent-pink;
    color: $white;
  }
}

.p-trim-1, .p-trim-2, .p-trim-3  {
  padding: 60px 30px;
}

.p-odd {
	@include trim-colors($accent-pink, $black, $black, white);
}

.p-even {
  background-color: $black;
  padding: 30px;
  span {
    color: $white;
  }
}
.p-trim-bottom {
  @include trim-colors($black, $black, $accent-pink, white);
  padding-bottom: 60px;
}



// goodies
.goodies {
  span {
    color: $white;
    display: block;
  }

  .backgrounds {
    display: flex;
    &__item {
      flex: 1;
      height: 200px;
    }
  }

  .p-dotted {
    @include dotted(rgba(255, 255, 255, 0.2), 5px);
  }

  .p-crossed {
    @include crossed(rgba(255, 255, 255, 0.1), 40);
  }

  .p-connected {
    @include connected(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  }
}
